.hud
  .col
    table: tbody
      tr
        td FPS:
        td= format(timer.fps, 1)

    h2 Player
    table: tbody
      tr
        td Health:
        td= toDoz(player.hp)

    h2 Enemies
    table: tbody
      tr
        td Amount:
        td= toDoz(enemies.count)
        
  .weapons
    for gun in player.guns
      div(class=gun == player.gun ? 'active' : 'inactive')
        span.name= gun.name
        if gun.ammo
          span.ammo= toDoz(gun.ammo) + '/' + toDoz(gun.max)
        else
          span.ammo.reloading= gun.ammo ? '' : 'RELOADING'

  .crosshairs +
