body
  margin: 0
  background: black
  overflow: hidden

canvas
  width: 100%
  height: 100%
  display: block

.hud
  position: fixed
  top: 20px
  left: 20px
  font: status-bar
  font-weight: bold
  color: white

.hud table
  color: white

.row
  display: flex
  flex-direction: row

.col
  display: flex
  flex-direction: column

.flex
  flex: 1

.crosshairs
  color: red
  font-size: 3.2em
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: flex
  align-items: center
  justify-content: center

.weapons
  position: fixed
  bottom: 20px
  right: 20px
  text-align: right

.name
  width: 256px
  text-align: left

.ammo
  display: inline-block
  width: 96px

.inactive
  color: gray
  font-weight: initial
  font-size: small

.reloading
  color: red
